/* purgecss start ignore */
/* Markdown Styles */
/* Global */
.markdown {
  @apply leading-relaxed text-lg max-w-3xl;
}
/* Headers */
.markdown h1 {
  @apply text-4xl my-6 font-bold;
}
.markdown h2 {
  @apply text-3xl my-6 font-bold;
}
.markdown h3 {
  @apply text-2xl my-6;
}
.markdown h4 {
  @apply text-xl my-3;
}

.markdown h5 {
  @apply text-xl text-gray-600 my-3;
}

.markdown h6 {
  @apply text-lg font-bold my-3;
}
/* Links */
.markdown a {
  @apply text-blue-600;
}
.markdown a:hover {
  @apply underline;
}
/* Paragraph */
.markdown p {
  @apply mb-4;
}
/* Lists */
.markdown ul {
  @apply mb-4 ml-8;
}
.markdown li > p,
.markdown li > ul {
  @apply mb-0;
}

/* Orderd lists with sub item counters done correctly */
.markdown ol {
  @apply list-decimal;
  counter-reset: item;
}
.markdown ol > li {
  display: table;
  counter-increment: item;
}
.markdown ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}
.markdown li ol > li {
  margin: 0;
}
.markdown li ol > li:before {
  content: counters(item, ".") " ";
}

.markdown ul {
  @apply list-disc;
}
.markdown ul ul {
  @apply list-circle;
}
.markdown ul ul ul {
  @apply list-square;
}

/* Code blocks */
.markdown pre {
  @apply p-4 bg-gray-200 text-gray-800 rounded-lg shadow-lg text-sm whitespace-pre-wrap max-w-3xl mb-4;
}

/* Blockquotes */
.markdown blockquote {
  @apply p-0 p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}
.markdown blockquote > p {
  @apply mb-0;
}
/* Tables */
.markdown td,
.markdown th {
  @apply px-2 py-1 border border-gray-400;
}
.markdown tr:nth-child(odd) {
  @apply bg-gray-100;
}
.markdown table {
  @apply mb-6;
}

/* Code highlight */
.markdown .token {
  @apply text-gray-600
}
.markdown .keyword {
  @apply text-purple-600
}
.markdown .comment {
  @apply text-gray-600
}
.markdown .function {
  @apply text-yellow-600
}
.markdown .punctuation {
  @apply text-blue-600
}
.markdown .string {
  @apply text-orange-600
}
.markdown .parameter {
  @apply text-black
}
.markdown .number {
  @apply text-green-600
}
.markdown .operator {
  @apply text-gray-600
}

/* purgecss end ignore */